@charset "UFT-8";

/*Todas as demais midias*/

/*Typical Device Breakpoints
----------------------------------------------------------------
pequenas telas: - 600px (sinal de menos quer dizer até)
Celular: de 600px - 768px
Tablet:  dde 769px - 992px 
Desktop:  de 992px - 1200px
grandes telas: acima de 1200px
----------------------------------------------------------------
*/
@media print{ /*Impressão*/
    *{
    font-family: 'Courier New', Courier, monospace;
    }
    body{
        background: url(../imagens/back-print.jpg); /*Desnecessário pois não imprime o background na impressão*/
    }
    main{
        border: 2px solid black;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /*Desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);  
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}
}

@media screen and (min-width: 1200px) { /*Grandes talas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 700px;
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}